{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
<div class="bg-slate-100 dark:bg-principal p-2 relative overflow-hidden">
    <div class="absolute inset-0 bg-center blur-[106px]"></div>
    <div class="relative">
        <section class="p-4 my-4 mx-auto max-w-4xl rounded-3xl bg-white dark:bg-secundario text-white" data-aos="fade-up" data-aos-delay="200">
            <h1 class="text-4xl text-center font-Pacifico dark:text-green-300 my-2">
                {{ title2 }}
            </h1>
            <div class="text-center my-4" data-aos="fade-right" data-aos-delay="200">
                <img src="{% static 'img/recuperar_contra_olvidada/contraexitoo.jpeg' %}" class="block w-20 md:w-64 lg:w-64 mx-auto rounded-full" alt="Signin">
            </div>
            <div class="flex justify-center items-center">
                <div class="max-w-sm text-center">
                    <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-100 mb-4">Contraseña restablecida</h2>
                    <p class="text-gray-600 dark:text-gray-300 mb-6">
                        Tu contraseña ha sido restablecida exitosamente. Ahora puedes
                        <a href="{% url 'home' %}" class="text-blue-500 hover:underline dark:text-blue-400">iniciar sesión</a>.
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}

{% block navbar %}
{% endblock navbar %}
