{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
<div class="bg-slate-100 dark:bg-principal p-2 relative overflow-hidden">
    <div class="absolute inset-0 bg-center blur-[106px]"></div>
    <div class="relative">
        <section class="p-4 my-4 mx-auto max-w-4xl rounded-3xl bg-white dark:bg-secundario text-white" data-aos="fade-up" data-aos-delay="200">
            <h1 class="text-4xl text-center font-Pacifico dark:text-green-300 my-2">
                {{ title2 }}
            </h1>
            <p class="text-center my-6 font-black text-2xl dark:text-gray-400 uppercase text-white">Lo sentimos, el enlace para recuperar la contraseña ha expirado.</p>
            <div class="text-center my-4" data-aos="fade-right" data-aos-delay="200">
                <img src="{% static 'img/recuperar_contra_olvidada/logo_recuperar_contra.jpeg' %}" class="block w-20 md:w-64 lg:w-64 mx-auto rounded-full" alt="Recuperar contraseña">
            </div>
            <div class="flex justify-center items-center">
                <form method="post" class="max-w-sm">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="block text-white text-sm font-bold mb-2" for="email">
                            Ingrese su correo electrónico para enviar un nuevo enlace de recuperación:
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-800 text-white" id="email" name="email" type="email" placeholder="Correo Electrónico" required>
                    </div>
                    <div class="flex items-center justify-between">
                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Enviar nuevo enlace</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock content %}

{% block navbar %}
{% endblock navbar %}
