{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
<div class="bg-slate-100 dark:bg-principal p-2 relative overflow-hidden">
    <div class="absolute inset-0 bg-center blur-[106px]"></div>
    <div class="relative">
        <section class="p-4 my-4 mx-auto max-w-4xl rounded-3xl bg-white dark:bg-secundario text-black dark:text-white" data-aos="fade-up" data-aos-delay="200">
            <h1 class="text-4xl text-center font-Pacifico text-gray-900 dark:text-green-300 my-2">
                {{ title2 }}
            </h1>

            <div class="flex justify-center items-center">
                <div class="max-w-sm w-full text-center">
                   <h2 class="text-2xl font-semibold text-green-500 dark:text-green-300 mb-4">Restablecer tu contraseña</h2>
                    <form method="post" class="bg-gray-100 dark:bg-gray-800 p-6 rounded-lg shadow-md">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="mb-4">
                            <label for="{{ form.new_password1.id_for_label }}" class="block text-gray-700 dark:text-gray-300 text-sm font-bold mb-2">{{ form.new_password1.label }}</label>
                            <input type="password" name="{{ form.new_password1.html_name }}" id="{{ form.new_password1.id_for_label }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-white leading-tight focus:outline-none focus:shadow-outline bg-gray-200 dark:bg-gray-700" placeholder="Nueva contraseña" required>
                        </div>
                        <div class="mb-6">
                            <label for="{{ form.new_password2.id_for_label }}" class="block text-gray-700 dark:text-gray-300 text-sm font-bold mb-2">{{ form.new_password2.label }}</label>
                            <input type="password" name="{{ form.new_password2.html_name }}" id="{{ form.new_password2.id_for_label }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-white leading-tight focus:outline-none focus:shadow-outline bg-gray-200 dark:bg-gray-700" placeholder="Confirmar nueva contraseña" required>
                        </div>
                        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4">Restablecer contraseña</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}

{% block navbar %}
{% endblock navbar %}
